# Firebase
FIREBASE_PROJECT_ID=
FIREBASE_DATABASE_ID=

# Plisio Payment Gateway
PLISIO_SECRET_KEY=fgWhwTwXufeVeQ22tzNiB3eKUFIJK7pAWbu4tYhitLKF7opnHe-dQvZQwCP-Xqgk

# Stripe Payment Gateway (Direct Visa/Mastercard)
STRIPE_SECRET_KEY=
