# Firebase
FIREBASE_PROJECT_ID=
FIREBASE_DATABASE_ID=

# Plisio Payment Gateway
PLISIO_API_KEY=fgWhwTwXufeVeQ22tzNiB3eKUFIJK7pAWbu4tYhitLKF7opnHe-dQvZQwCP-Xqgk

# Firebase Admin (REQUIRED for Kinguin Sync & Fulfillments to work with external projects)
# Provide your Service Account JSON (as a string or base64)
FIREBASE_SERVICE_ACCOUNT_KEY=

# Kinguin B2B API
KINGUIN_API_KEY=6a285fddd52ac8c2370f553301b94726
PROFIT_MARGIN_TRY=30
TRY_USD_RATE=32

# Stripe Payment Gateway (Direct Visa/Mastercard)
STRIPE_SECRET_KEY=
